{% extends "base.html" %}
{% block title %}Профайл{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<main role="main" class="container">
    <div class="row">

        {% load thumbnail %}
            {% thumbnail "https://images.wallpaperscraft.ru/image/minimalizm_origami_yaponiya_voshodyaschee_solnce_volna_74405_1920x1080.jpg" "3000x1360" crop="center" as im %}
                <img class="card-img" src="{{ im.url }}" alt="альтернативный текст">
        {% endthumbnail %}

        {% include 'mini-templates/subscribe button.html' with author=author following=following %}

        {% include 'mini-templates/author_info.html' with author=author following_count=following_count follower_count=follower_count %}

            <div class="col-md-9">
                {% for post in page %}
                    {% include 'mini-templates/post_card.html' with user=user post=post %}

                {% endfor %}

            </div>

    </div>
</main>

    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}
