<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="h2">
                <!-- Имя автора -->
                {{ author.get_full_name }}
            </div>
            <div class="h4 text-muted">
                 <!-- username автора -->
                <a href="{% url 'profile' author.username %}"><strong class="d-block text-gray-dark">@{{ author.username }}</strong></a>
                    {% include 'mini-templates/subscribe_button.html' with author=author following=following %}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                    <div class="h6 text-muted">
                    Подписчиков: <strong class="d-block text-gray-dark">{{ follower_count }}</strong> <br />
                    Подписан: <strong class="d-block text-gray-dark">{{ following_count }}</strong>
                    </div>
            </li>
            <li class="list-group-item">
                    <div class="h6 text-muted">
                        <!-- Количество записей -->
                        Записей: {{ author.posts.count }}
                    </div>
            </li>
        </ul>
    </div>
</div>
